altgraph==0.17.4
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
colorlog==6.9.0
gevent==24.11.1
greenlet==3.1.1
idna==3.10
packaging==24.2
pefile==2023.2.7
pillow==11.1.0
pycparser==2.22
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
pywin32-ctypes==0.2.3
requests==2.32.3
urllib3==2.3.0
websocket==0.2.1
websocket-client==1.8.0
zope.event==5.0
zope.interface==7.2
